{% autoescape off %}

<div style="text-align:center;">
<h1>مرحباً {{name}}, </h1><br>
تم استلام طلبك بنجاح وسنقوم بتجهيزه وإرساله لك في أقرب وقت.<br>
<div class='text-body' style='color:#7d7d62'><br>
  تفاصيل الطلب #{{order.order_no}}<br>

 <table style="width:100%;border: 1px solid black;">
  <tr>
    <th style="border: 1px solid black;">المنتج</th>
    <th style="border: 1px solid black;">نوع الوحدة</th>
    <th style="border: 1px solid black;">الكمية</th>
    <th style="border: 1px solid black;">سعر الوحدة</th>
  </tr>
{% for item in items %}
  <tr>
    <td style="border: 1px solid black;">{{item.product.title}}</td>
    <td style="border: 1px solid black;">{% if item.type == 1 %} قطع فرد {% else %} كرتونة {% endif %}</td>
    <td style="border: 1px solid black;">{{item.quantity}}</td>
    <td style="border: 1px solid black;">{{item.price}}</td>
  </tr>
{% endfor %}
</table> <br><br>
 إجمالي التكلفة: {{total}}<br><br>
</div>
سيتم شحنة على العنوان التالى <br>
{{order.address.country}} - {{order.address.city}} - {{order.address.address_1}} - {{order.address.address_2}}
<br>
إذا واجهتك أي مشكلة برجاء الرد على هذه الرسالة.<br>
تحياتنا<br>
<style>

{% endautoescape %}