{% autoescape off %}
<div style="text-align: center;">
    <h1>مرحباً {{name}}</h1>

    <div class='text-body' style='color:#414122;font-size: 20px;'>
    <p>تلقينا طلب إعادة كلمة المرور المفقودة، برجاء نسخ الكود في الأسفل ولصقه في التطبيق لتغيير كلمة المرور </p>
    <div style="background-color:#f2d5d5;text-align: center;width: 100%;border: 1px solid;">
   <p> {{token}}</p> 
   </div>
    <p style="color: rgb(248, 129, 129);">جدير بالذكر أن هذا الكود سينتهي صلاحيته خلال 15 دقيقة من تاريخ ارساله</p>
    <p>إذا واجهت أي مشكلة يمكنك مراسلتنا</p>
    <p>تحياتنا</p>
    </div>
</div>
{% endautoescape %}
